
@model Schooldb2022.Models.Teacher
@{
    ViewBag.Title = "Show";
}


<div id="containershow" style="border:1px solid; padding:1em;">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p><strong>Employee ID: </strong>@Model.EmployeeNumber</p>
    <p><strong>Salary: </strong>@Model.Salary</p>
    <p><strong>Hiredate: </strong>@Model.Hiredate</p>
    <p><strong>Course: </strong>@Model.Course</p>
    <nav>
      <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update Teacher</a>
    </nav>

</div>
